#homepage {
    text-align: center;
}

.btn-facebook {
    background-color: rgb(14, 140, 212);
    color: aliceblue;
}
.btn-facebook:link, 
.btn-facebook:visited {
    text-decoration: none;
}

.btn-gplus {
    background-color: rgb(245, 63, 31);
    color: aliceblue;
}
.btn-gplus:link, 
.btn-gplus:visited {
    text-decoration: none;
}

.btn-instagram {
    background-color: rgb(213, 125, 248);
    color: aliceblue;
}
.btn-instagram:link, 
.btn-instagram:visited {
    text-decoration: none;
}

#welcome {
    color: rgb(248, 202, 133);
}

h1 {
    text-align: center;
}

#main {
    margin-top: 63px;
    margin-bottom: 50px;
}

.col-sm-4 {
    margin-bottom: 15px;
}

#address {
    color: rgb(182, 65, 11);
}